# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Logs
logs
*.log

# Misc
.DS_Store
.fleet

# Local env files
.env
.env.*
!.env.example

software/node_modules
software/output.tar.gz
software/.nuxt
software/.output
