@import "tailwindcss";
@import "@nuxt/ui";

/* biome-ignore lint/suspicious/noUnknownAtRules: fixed next minor release of Biome */
@theme {
  --font-sans: "Roboto", sans-serif;
}

html,
body,
#__nuxt {
  -webkit-user-select: none;
  user-select: none;
}
img {
  -webkit-user-drag: none;
}
